{% extends "homebase.html" %}

{% block title %} {{ categorydata.title }} Products {% endblock %}
{% block keywords %} {{ categorydata.keywords }}  {% endblock %}
{% block description %}{{ categorydata.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
<div class="bradcam_area breadcam_bg"  style=" padding: 170px;
      background-size: cover;
      background-position: center center;
      padding: 30px 0px;
      background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8" >
                <div class="navbar_text">
                    <ul class="" style=" list-style: none outside none;">
                        <li style="  position: relative;
                                        display: inline;
                                        margin: 2px;"> <a href="/"> Home ></a>
                        </li>
                        <li style="  position: relative;
                                        display: inline;
                                        margin: 2px;
                                        color: red;" > Product >
                         </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
<!--================Blog Area =================-->
<section class="blog_area section-padding" style="padding-top: 0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <section class="blog_area section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 mb-1 mb-lg-3">
                                    <div class="blog_left_sidebar">
                                        {% for rs in products %}
                                        <article class="blog_item">
                                            <div class="blog_item_img">
                                                <img class="card-img rounded-0" src="{{ rs.image.url }}" alt="" style="height: 380px ;width:450px">
                                                <a href="#" class="blog_item_date" style="background-color: whitesmoke">
                                                    <h9 >Yüklenme tarihi:</h9>
                                                    <h9>{{rs.update_at}}</h9>
                                                </a>
                                            </div>
                                            <div class="blog_details">
                                                <a class="d-inline-block" href="/product/{{ rs.id }}/{{rs.slug}}">
                                                    <h2>{{ rs.title }}</h2>
                                                </a>
                                                <p> {{ rs.description }} </p>
                                                <ul class="blog-info-link">
                                                    <li><i class="fa fa-user"></i> {{ rs.user.first_name }} </li>
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--================Blog Area =================-->
        </div>
    </div>
</section>
{% endblock %}