 {% load static %}

<div class="container">
<nav>
       {% load mptt_tags %}
        <ul class="mcd-menu">
            {% recursetree category %}
                <li>
                    <a href="/category/{{ node.id }}/{{node.slug}} ">
					<i class="fa fa-trophy"></i>
					<strong> {{ node.title }}</strong>
                    </a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                              <li> <a href="/category/{{ node.id }}/{{node.slug}} ">{{ children }}</a></li>
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
	</nav>
</div>