{% extends "homebase.html" %}

{% block title %} User Profile {{ profile.username }}  {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}



{% block content %}

<div class="section" style="padding:50px">

    <div class="container">

        <div class="row">

                <div class ="col-md-3">
                    {% include "user_panel.html"  %}
                </div>

                <div class="col-md-9">
                     <div class="section-title">
                        <h3 class="title">Change Password</h3>
                     </div>

                    {% if messages %}
                        {% for messages in messages  %}
                            <div style="color: green; font-size: medium">
                                {{messages|safe}}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="content-section">

                        <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }} </small>
                                {% endif  %}
                                {% for error in field.errors  %}
                                     <p style="">{{ error }}</p>
                                {% endfor  %}
                            </p>
                        {% endfor %}
                            <button class="genric-btn success radius" type="submit">Save Changes</button>
                        </form>
                    </div>

        </div>
    </div>
</div>

{% endblock %}