{% extends "homebase.html" %}

{% block title %} Add Content  {{ profile.username }}  {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />

{% load static %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src=" {% static 'ckeditor/ckeditor-init.js' %} "></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}

{% block content %}

<div class="section" style="padding:50px">

    <div class="container">

        <div class="row">

            <div class ="col-md-2">
                {% include "user_panel.html"  %}
            </div>

            <div class="col-md-10">
                <div class="section-title">
                    <h3 class="title">Blog Ekleme </h3>
                </div>
                <div class="content-section">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form.media }}   <!---ck editor ayarlarını getirir --->
                            {{ form.as_p }}
                        </fieldset>
                        <div class="form-group">
                            <button class="genric-btn success radius" type="submit">SAVE</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    {% endblock %}